body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 20px auto;
}

.estacionamento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.vaga {
    width: 70px;
    height: 70px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid black;
}

.ocupado {
    background: red;
    color: white;
}

.resumo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: right;
}